<footer class="bg-dark text-light mt-5 py-4">
    <div class="container">
        <div class="row">
            <!-- Cột 1: Giới thiệu -->
            <div class="col-md-4">
                <h5>Trần Nhựa Nano Cao cấp</h5>
                <p>Chuyên thi công trần vách Nhựa Nano, trang trí nội thất tại Bắc Ninh và các tỉnh lân cận.</p>
            </div>

            <!-- Cột 2: Liên hệ -->
            <div class="col-md-4">
                <h5>Liên hệ</h5>
                <p><i class="fa fa-phone"></i> 0966358345</p>
                <p><i class="fa fa-envelope"></i> vnntoan@gmail.com</p>
                <p><i class="fa fa-map-marker-alt"></i> Phố Mới, Phường Hồ, TX Thuận Thành, Bắc Ninh</p>
            </div>

            <!-- Cột 3: Google Map -->
            <div class="col-md-4">
                <h5>Địa chỉ google map</h5>
                <div class="ratio ratio-4x3">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d391.3717842107516!2d106.0869127450233!3d21.057604361610945!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1svi!2s!4v1749111245874!5m2!1svi!2s" 
                    width="50%" height="50%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                    </iframe>
                </div>
            </div>
        </div>

        <hr />
        <p class="text-center">&copy; 2025 Trần Nhựa Nano Cao cấp. All rights reserved.</p>
    </div>
</footer>
